{% extends 'base.html' %}
{% block title %} About Page {% endblock title %} 

{% block body %}

<div class="container-fluid px-0">
    <img src="static/img/about.jfif" class='d-block w-100 mx-0'>
</div>

<div class="container" my-4>
        <h1 class='text-center my-4'>About US 😊</h1>
        <br>
        <h3>We are here to serve people like you who cant get enough of online shopping 🛒</h3>
        <h3>We are a small startup whose goal is to make quality and pocket-friendly products within everyone's reach!!</h3>
        <h3>From electronics to clothes to groceries, we have a wide range of products to offer with good servie and customer support.</h3>
        <br> 
        <p class="text-center my-4">For any queries regarding your orders please <a href='/templates/contact.html'>contact</a> us!</p>
        
        

</div>

<div id= 'about-us' class="container px-0 ">
    
</div>



{% endblock body %}

